.sub {
	font-size: 50;
	font-style: italic;
}
.sub2 {
	font-style: italic;
}
.link {
	color: #FE019A;
}
.hlink {
	color: white;
	text-decoration: none;
}
.sky {
	color: skyblue;
}
.pink {
	color: pink;
}
.lavender {
	color: #D7B4F3;
}
.sienna {
	color: #E97451
}
#nightair {
	color: AABBCC;
}
.reel {
	width: 48%;
}