html {
	width: 77%;
}
body {
	color: white;
	background-color:black;
	font-family: Courier New;
}
article {
	position: relative;
	top: 20%;
	left: 30%;
}
footer {
	position: absolute;
	bottom: 0px;
	
	width: 97%;
	height: 30px;
	padding: 10px;
	border-top: 2px solid white;
	margin: 5px;
}
.sub {
	position: relative;
	left: 18%;
	
	color: white;
	background-color:black;
	font-size: 30;
	
	width: 260px;
	height: 20px;
	padding: 20px;
	border: 2px solid white;
	margin: 5px;
}
.sub2 {
	color: white;
	background-color:black;
	
	width: 260px;
	height: 20px;
	padding: 20px;
	margin: 5px;
}
.link {
	color: #FE019A;
}
.hlink {
	color: white;
}